# CLion / CMake build artifacts
cmake-build-*/
build/
cmake-build-debug/
cmake-build-release/

# IDE
.idea/
*.iml

# Compiled output
*.o
*.obj
*.exe
*.out
*.app
/Chapter_1/Ch_1_ExAnswers.txt
/Chapter_1/Review_Exercises.odt
